* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "inter", sans-serif;
  background-color: darkgray;
}

.contenedor {
  width: 100%;
  max-width: 1550px;
}

.contenedor .headerIni,
.contenedor .navIni,
.contenedor .mainIni,
.contenedor .footerIni {
  background-color: #fff;
  padding: 20px;
}

/*CONTENEDORES DE LAS CABECERAS Y MENU*/
/*Grids de index*/
.contenedor .headerIni {
  background-color: rgba(0, 51, 145, 0.95);
  color: #fff;
  grid-area: header;
}

.contenedor .navIni {
  background-color: rgba(2, 35, 109, 0.95);
  color: #fff;
  grid-area: nav;
}
.contenedor .mainIni {
  background-color: darkgrey;
  color: #fff;
  grid-area: main;
}
.contenedor .footerIni {
  background-color: darkblue;
  color: #fff;
  grid-area: footer;
}

.contenedor .contendorSlider {
  max-width: 1000px;
}

.Publicidad {
  border: solid 1px black;
  background-color: #033768;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-area: publicidad;
}

@media screen and (max-width: 768px) {
  .contenedor {
    background-color: #fbff05;
  }
}
@media screen and (max-width: 390px) {
  .contenedor {
    background-color: beige;
  }

  .contenedor .barraBusqueda {
    margin: 0px 15px 0px 15px;
    width: 50%;
  }
  .contenedor .Publicidad {
    display: block;
  }
  .contenedor .Publicidad img {
    width: 100%;
  }
  .contenedor .contenedorInicio {
    display: block;
    margin: 0px;
    width: 100%;
  }
  .contenedor article {
    width: 100%;
    margin: 0px;
  }
  .contedor .contenedorHistoria {
    width: 100%;
    margin: 0px;
  }
  .contenendor .contenedorimg {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .contenedor .contenedorTienda {
    width: 100%;
    margin: 0px;
  }

  .contenedor .contenedorForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0px;
  }
}
/*Menu*/

.nav-item,
.nav-link:hover {
  color: #fbff05;
}
/* TIENDA Y GALERIA DE IMAGENES DE LA TIENDA*/
.contenedorTienda {
  width: 60%;
  margin: 0px 300px 20px 300px;
}

.contenedorimg {
  width: 350px;
  height: 400px;
  margin: 5px;
  border: solid 1px #003566;
  display: inline-block;
}
.contenedorimg img {
  width: 100%;
  height: 100%;
}
/*Opcion bombonera*/
.contenedorBombonera {
  width: 100%;
}
.contenedorArticle {
  width: 42%;
  height: 35%;
  display: inline-block;
  padding: 50px;
  border: #fbff05 solid 1px;
  margin: 0px;
  background-color: #003566;
  color: #fbff05;
}
.botonTienda {
  text-transform: uppercase;
}

.contenedorTextoCards {
  padding: 0px;
  margin: 0px;
}
.contenedorTextoCards h1 {
  font-family: "Staatliches";
  color: #003566;
}

/*CONTENEDOR DE INFORMACION DE INICIO*/
.contenedorInicio {
  width: 90%;
  margin: 10px 50px 10px 50px;
}

.contenedorInicio article {
  width: 48%;
  height: 100%;
  margin: 200px 0 100px 0px;
  float: left;
  cursor: pointer;
}

.contenedorInicio img {
  width: 100%;
  height: 100%;
}

.contenedorInicio section {
  width: 48%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
}

.contenedorInicio a {
  font-family: "Staatliches";
  color: #ffffff;
  text-transform: uppercase;
}

.contenedorInicio div {
  background-color: #003566;
}

/* Contacto */
.contenedorForm {
  width: 800px;
  margin: 100px 250px 100px 250px;
  text-align: center;
  color: #003566;
}
.contenedorForm input {
  width: 300px;
  margin: 10px 150px 10px 150px;
  display: flex;
}
.formulario #nombre:focus {
  border: 3px solid #003566;
}

.botonForm {
  text-transform: uppercase;
  font-family: "Staatliches";
  color: #003566;
  width: 100px;
  height: 50px;
  margin: 0px 200px 0px 200px;
}

/*Contenedo Sponsors*/
.contenedorSponsor {
  max-width: 1000px;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "inter", sans-serif;
  background-color: darkgray;
}

.color-navbar {
  background-color: rgba(0, 51, 145, 0.95);
}

.row {
  margin: 100px 20px 100px 20px;
  display: flex;
  justify-content: space-between;
}

.img-footer {
  width: 60px;
  height: 65px;
}
.img-redes {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.content-footer {
  background-color: rgba(0, 51, 145, 0.95);
}

.Publicidad {
  border: solid 1px black;
  background-color: #033768;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-area: publicidad;
}
.Publicidad h1 img {
  width: auto;
  background-color: rgba(0, 51, 145, 0.95);
}
.Publicidad h1 {
  margin: 50px 0px 50px 0px;
}

.img-tienda {
  width: 100%;
  height: 100%;
}

/*User */
$color-fondo: #003566;

.fondoUser {
  background-color: $color-fondo;
  color: aliceblue;
}
